@model IEnumerable<WebApplication1.Models.managerModel>
@{
    Layout = null;
    @Styles.Render("~/Content/manager/css")
}

<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            top:10px;
            width:800px;
            height:500px;
        }

        </style>
</head>
<body>
    <div> 
        <label class="HOfont">首頁圖片</label>
        <br>
        <br>
         <img id="optionImg" src="~/img/head/@ViewBag.imgpath" />
        <br>
        <br>
         @Html.ActionLink("更改","HeadImgOptionChange","manager",new { @class="HOfont"})
    </div>
</body>
</html>
