@model WebApplication1.Models.managerModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="//cdn.ckeditor.com/4.5.10/standard/ckeditor.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>OptionAboutChange</title>
    <style>
    #about_p
    {
        width:600px;
        height:300px;
    }    
    #butsur
    {
        position:relative;
        left:-300px;
    }
    #butcannel
    {
        position:relative;
        left:-500px;
    }
    </style>
</head>
<body>
    <div>
        <form method="post">
        @Html.Label("關於我們:") <br>
        @Html.TextAreaFor(model=>model.about_p,new { Wrap = "Physical", @class = "ckeditor" })
        <br>
            @Html.Label("若沒要更改圖片，可不必重新上傳")
            <br>
        <iframe src="/manager/OptionAddressMapUp" height="300" width="600" frameborder="0" scrolling="yes"></iframe>
            <input type="submit" value="送出" id="butsur" />
            <input type="button" onclick="history.back()" id="butcannel" value="取消">
        </form>
    </div>
</body>
</html>
