
@{
    ViewBag.Title = "活動照片";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 0;
}
<link rel="stylesheet" type="text/css" href="/Scripts/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="/Scripts/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<!-- Add Thumbnail helper (this is optional) -->
<link rel="stylesheet" type="text/css" href="/Scripts/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="/Scripts/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<!-- Add Media helper (this is optional) -->
<script type="text/javascript" src="/Scripts/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script>

    $('.fancybox-thumbs').fancybox({
        prevEffect: 'none',
        nextEffect: 'none',

        closeBtn: false,
        arrows: false,
        nextClick: true,

        helpers: {
            thumbs: {
                width: 50,
                height: 50
            }
        }
    });
</script>
<style>
    .content-Album
    {
        width:600px;
    }
    .content-AlbumTitle{
        font-size:24px;
    }
</style>
<h2>活動照片</h2>

    @foreach (string[] obj in ViewBag.albumImg)
    {
        <div>
            <p class="content-AlbumTitle">@obj[0]</p>
            <pre class="content-Album">@obj[1]</pre>
            @foreach (string items in ViewBag.Imgs[count])
            {
                    <a class="fancybox-thumbs" data-fancybox-group="thumb" href="~/album/@obj[2]/@items"><img src="~/album/@obj[2]/@items" alt="" style="width:180px;height:230px;padding:5px;"/></a>
              
            }
            
        </div>
        <hr>
        count++;
    }


